<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>ADPBSC - Programação da Semana</title>
</head>
<body>

    <header id="header">

        <div id="header-identification">
            <img id="logo" src="../assets/Painel_adm.png" alt="Logo da Assembléia de Deus">

            <div id="header-identification-text">
                <div class="textoLogo sigla">ADPB</div>
                <div class="textoLogo cidade"> Santa Cecília</div>
            </div>
        </div>

        <div id="header-nav-buttons">
            <a class="button hover activated" id="home" href="#">Início</a>
            <a class="button" id="gallery" href="#">Galeria</a>
            <a class="button" id="about" href="#">Sobre</a>
        </div>
  
    </header>

    <hr id="splitter">

    <main>
        <div id="primaryCard" class="card">
            <div id="top">
                <div id="name">Segunda-Feira</div>
                <div id="service">Culto de Doutrina</div>
            </div>
            <div id="bottom">
                <hr>
                <a href="#">Clique para saber mais</a>
            </div>
        </div>

        <div id="secondContainer">

            <div id="secondCard" class="card">
                <div id="top">
                    <div id="name">Terça-Feira</div>
                    <div id="service">Culto em Pedra Branca</div>
                </div>
                <div id="bottom">
                    <hr>
                    <a href="#">Clique para saber mais</a>
                </div>

            </div>

            <div id="bellowContainer">

                <div id="firstCard" class="bellowCards card">
                    <div id="name">Quarta-Feira</div>
                    <hr>
                    <a href="#">Clique para saber mais</a>
                </div>
        
                <div class="bellowCards putSpace card">
                    <div id="name">Quarta-Feira</div>
                    <hr>
                    <a href="#">Clique para saber mais</a>
                </div>
        
                <div class="bellowCards putSpace card">
                    <div id="name">Quarta-Feira</div>
                    <hr>
                    <a href="#">Clique para saber mais</a>
                </div>

            </div>
        </div>
    </main>

   <div id="buttonWrapper">  
        <div id="text">Clique aqui para ver mais</div>
        <a id="loadMore" href="#"> </a>
    </div>
  
    
    <script src="../scripts/index.js"></script>
</body>
</html>